.image-container  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.image-container {
    position: relative;
    height: 40vh;
}

.image-btn-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding-inline: 20px;
    /* animation: 0.2s fade-in ease-in both; */
}

.image-btn-container button {
    padding: 10px 13px;
    border-radius: 50%;
}

.image-btn-container.hidden {
    visibility: 0;
    opacity: 0;
    /* animation: fade-out 0.2s ease-out both; */
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;} 
    100% {opacity: 0;}
}

@keyframes fade-in-out {
    0% {opacity: 0;}
    35% { opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 1;}
}