.cart {
    width: 350px;
    min-height: 180px;
    position: absolute;
    top: 70px;
    left: 50%;
    z-index: 12;
    transform: translateX(-50%);
    background-color: white;
}

.cart-title {
    padding: 20px;
    border-bottom: 1px solid gray;
}

.cart-body {
    padding: 20px;
}