/* 
  CUSTOM FONT 
*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');


/* 
  CUSTOM PROPERTIES
*/
:root {
  /* Color */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 0.75);

  /* Typography */
  --ff-main: 'Kumbh Sans', sans-serif;

  --fs-1: 1rem;
  --fs-2: 0.8rem;
  --fs-3: 1.8rem;

  --ls-1: 0.15rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* 
  RESET
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--ff-main);
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
button { display: block; }

img { height: auto; }

button { 
  cursor: pointer; 
  border: none;
  background: none;
  font-family: var(--ff-main);
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
}

button:hover {
  opacity: 0.6;
}

button:disabled {
  opacity: 0.7;
}

h1 {
  color: var(--orange);
  text-transform: uppercase;
  font-size: var(--fs-2);
  letter-spacing: var(--ls-1);
}

h2,
h4 { font-size: var(--fs-3); }

h6 {
  color: var(--orange);
  font-size: var(--fs-1); 
}

p {
  color: var(--black);
  font-weight: var(--fw-500);
}


/* 
  REUSED STYLES
*/

.container-center,
.container-start,
.container-end,
.container-between {
  display: flex;
  align-items: center;
}

.container-center { justify-content: center;}

.container-start { justify-content: flex-start; }

.container-end { justify-content: flex-end; }

.container-between { justify-content: space-between; }

.w-auto {
  width: 80%;
  margin-inline: auto;
}
.b-white { background-color: var(--white); }

.b-pale-orange { background-color: var(--pale-orange); }

.b-grayish-blue { background-color: var(--light-grayish-blue); }

.btn-primary {
  width: 100%;
  background-color: var(--orange);
  padding: 14px 20px;
  color: var(--white);
  border-radius: 8px;
}

.price-text {
  font-weight: var(--fw-600);
}