.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 60px;
}

.toggle-container { gap: 12px; }


.sidebar-toggle-btn.active .open,
.sidebar-toggle-btn .close { display: none; }

.sidebar-toggle-btn .open,
.sidebar-toggle-btn.active .close { display: block; }

.sidebar-toggle-btn.active .close {
    position: relative;
    z-index: 12;
}

.nav-list-container { 
    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    display: none;
}

.nav-list-container.active {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 60vw;
    height: 100%;
    padding-inline: 20px;
    z-index: 10;
    background-color: white;
    animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.nav-list-container.active::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: grey; */
    opacity: 5;
    z-index: 9;
    width: -40vw;
    height: 100%;
}

.nav-list-container.active .nav-list { 
    margin-top: 80px; 
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100px);
      opacity: 0;
    }
  }

@keyframes slide-in-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
